@page "/agenda"

<h1>Agenda</h1>
<hr>
<AgendaComponent AgendaItems="IntroAgendaItems" />

@code {
    private List<string> IntroAgendaItems { get; set; }

    protected override void OnInitialized()
    {
        IntroAgendaItems = new List<string>();
        IntroAgendaItems.AddRange(new List<string>{"What is Blazor ?" ,"Hosting Models", "Getting Started", "Dev Productivity Improvements", "Perf Improvements"});
    }
}
