@page "/cssisolation"
<h1>Css Isolation</h1>
<hr>
<div>
    <h3> CSS are isolated at Component level </h3> 
</div>
<div class="social-links"><span class="fa fa-twitter" aria-hidden="true"></span>
    svswaminathan</div>

@code {

}
