@page "/whatisblazor"

<h1> What is Blazor ? </h1>
<hr>
<br>
<br>

<div class="row">
    <div class="col-sm">
        <img src="assets/jsWebSites.png" style="width:100%">
    </div>
    <div class="col-sm">
        <img src="assets/blazorWebSites.png" style="width:100%">
    </div>
</div>

<br>
<br>

<div class="row" >
    <div class="media">
     <img src="assets/blazor.png" class="mr-3" alt="blazor">
     <div class="media-body">
        <h4 class="mt-0">Blazor</h4>
        <ul>
            <li style="font-size: x-large"> Build client-side web UI with .NET instead of JavaScript </li>
            <li style="font-size: x-large"> Write reusable web UI components with C# and Razor </li>
            <li style="font-size: x-large"> Share .NET code with both the client and the server </li>
            <li style="font-size: x-large"> Call into JavaScript libraries & browser APIs as needed</li>
        </ul>
     </div>
    </div>
</div>