<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">.NET Conf Bengaluru</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-person" aria-hidden="true"></span> About Me
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="agenda">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Agenda
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="whatisblazor">
                <span class="oi oi-list-rich" aria-hidden="true"></span> What is Blazor ?
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="hostingmodels">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Hosting Models
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gettingstarted">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Getting Started
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="devproductivity">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dev Productivity
            </NavLink>
            </li>
            <li class="nav-item px-3">
            <NavLink class="nav-link" href="perf">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Perf Improvements
            </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="faq">
                    <span class="oi oi-question-mark" aria-hidden="true"></span> FAQ
                </NavLink>
            </li>

        <li class="nav-item px-3">
            <NavLink>
                <span>Demo</span>
                <hr />
            </NavLink>
        </li>
        @* <li class="nav-item px-3">
            <NavLink class="nav-link" href="autorefresh">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Auto Refresh
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="cssisolation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CSS Isolation
            </NavLink>
            </li> *@
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inputfile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Input File
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="virtualize">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Virtualization
            </NavLink>
            </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="lazyloading">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lazy Loading
            </NavLink>
        </li>
        @* <li class="nav-item px-3">
            <NavLink class="nav-link" href="prerendering">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Pre rendering
            </NavLink>
                        </li> *@



    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
